/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #e0eafc;
  background: -webkit-linear-gradient(to top, #e0eafc, #a1a4a9);
  background: linear-gradient(to top, #e0eafc, #a1a4a9);
  font-family: 'Lobster', cursive;
}
