<section class="login">
    <form (ngSubmit)="loginSubmit()" class="login_inner">
        <header class="login_avatar"></header>
        <main>
            <section class="username wrapper">
                <input type="email" name="username" [(ngModel)]="data.username">
                <label for="email">Username</label>
            </section>
            <section class="password wrapper">
                <input type="password" name="pwd" [(ngModel)]="data.password">
                <label for="password">Password</label>
            </section>
        </main>
        <button type="submit" class="login_footer">LOGIN</button>
    </form>
</section>
<section class="register" type="button" (click)="RegisterForm = true">
    NEW USER? REGISTER NOW
    <app-register *ngIf="RegisterForm === true"></app-register>
</section>
