<section class="login">
    <form class="login_inner">
        <header class="login_avatar"></header>
        <main>
            <section class="username wrapper">
                <input type="email" name="username">
                <label for="email">Username</label>
            </section>
            <section class="password wrapper">
                <input type="password" name="pwd">
                <label for="password">Password</label>
            </section>
        </main>
        <footer type="button" class="login_footer">LOGIN</footer>
    </form>
</section>
<section class="register" type="button" (click)="RegisterForm = true">
    NEW USER? REGISTER NOW
    <app-register *ngIf="RegisterForm === true"></app-register>
</section>
