<section class="register_inner">
        <header class="login_avatar"></header>
        <main>
            <section class="wrapper">
                <input type="text" name="firstName">
                <label for="firstName">Enter you firstname</label>
            </section>
            <section class="wrapper">
                <input type="text" name="lastName">
                <label for="lastName">Enter your lastname</label>
            </section>
            <section class="wrapper">
                <input type="email" name="username">
                <label for="email">Username</label>
            </section>
            <section class="wrapper">
                <input type="password" name="pwd">
                <label for="password">Password</label>
            </section>
        </main>
        <footer type="button" class="register_footer">REGISTER</footer>
</section>
